body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  max-width: 1400px;
  margin: auto;
  height: 100vh;
}

.header {
  background: rgb(2, 103, 100);
  color: #fff;
  padding: 8px;
  text-align: center;
  max-width: 1400px;
  margin: auto;
  
}

.inner {
  width: 100%;
  margin: auto;
}

.divin {
  width: 1200px;
  overflow: hidden;
  margin: auto;
}

h1 {
  margin: 0;
  font-size: 36px;
  color: rgb(186, 252, 252, 0.7);
}

h3 {
  animation: moveRight 20s linear infinite;
  margin-top: -2px;
  text-align: left;
}

@keyframes moveRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(110%);
  }
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.recipe-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.recipe-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  background-color: rgba(127, 255, 212, 0.5);
}

.recipe-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.recipe-item h2 {
  margin: 0;
  font-size: 20px;
  padding: 10px;
  min-width: 200px;
}

.recipe-item p {
  margin: 0;
  padding: 10px;
  color: #777;
}

.recipe-item button {
  background: #cdd017;
  color: #fff;
  min-width: 150px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.3s ease;
  font-weight: 600;
  outline: none;
  border: none;
}

.recipe-item button:hover {
  background: #c3157a;
  color: black;
}













@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
  
  .recipe-item {
    flex-direction: column;
  }

  .recipe-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .recipe-item h2 {
    font-size: 18px; /* Adjusted font size for smaller screens */
    padding: 8px; /* Reduced padding for smaller screens */
    min-width: auto; /* No minimum width on smaller screens */
  }

  .recipe-item p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .recipe-item button {
    min-width: 120px; /* Slightly reduced button width for smaller screens */
  }
}
